@CHARSET "UTF-8";

html, body {
    background-color: #fff;
    background-image: url('/image/background/background_agaja.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

body nav.navbar.navbar-transparent {
    background-color: rgba(22,22,22,0.4);
}

body nav.navbar.navbar-transparent .navbar-header a.navbar-brand {
    color: #e0e0e0;
}

body nav.navbar.navbar-transparent .navbar-header a.navbar-brand:hover {
    color: #ffffff;
}